body {
	background-color: #006795;
	margin: 0;
	padding: 0;
}
ul {
	margin:0;
	padding:0;
	list-style: none;
}
#navegacion li {
	margin-bottom: 20px;
}
.container {
	background-color: #fff;
	margin: 0 auto;
	width: 800px;
	margin-top: 100px;
	padding: 30px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing: border-box;      
	border-radius: 10px;  
}
.primero a {
	color:red;
}
.zoom {
	display:inline-block;
	position: relative;
}

.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url(../_img/icon.png);
}

.ultimo a {
	color: black;
}

.enlace a {
	color: gray;
}

.odd a {
	color:red;
}
.even a {
	color:green;
}
.padre {
	background-color: #e1e1e1;
}
.hijo {
	background-color: red;
}
.penultimo {
	background-color: red;
}

#inferior {
	width:400px;
	height: 400px;
	margin: 0 auto;
	border: 1px dashed black;
}
#inferior.activo {
	background-color: red;
}

.rojo {
	background-color: red;
}

.resaltar {
	background-color: yellow;
}

#contenido {
	height: 200px;
	width:500;
	margin:0 auto;
	border: 1px dashed red;
}

.animar {
	background-color: green;
	color:white;
	text-align: center;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
}
.enviado {
	border: 3px dashed green;
	padding: 20px;
	font-size: 3em;
	text-align: center;
	display: none;
}
.ocultar, .mostrar {
	border: 3px dashed green;
	padding: 20px;
	font-size: 3em;
	text-align: center;
	cursor: pointer;
}
.premio {
	height: 300px;
	text-align: center;
	width:400px;
	background-color: blue;
	color: white;
	font-size: 30px;
	padding-top:150px;
	display: none;
}
.animacion {
	background-color: red;
	width: 400px;
	transform: translateX(300px);
	transition: all 1s ease;
}
.importante {
	background-color: red;
}
.navegacionjson {
	min-height: 300px;
}

#sociales {
	clear: both;
	display: inline-block;
	background-color: #e1e1e1;
	padding: 10px 30px;
}
.clearfix {
	clear:both;
}

.social {
	list-style: none;
}
.social li {
float: left;
text-align: center;
background-repeat: no-repeat;
background-position: top left;
height: 34px;
padding-left: 18px;
line-height: 30px;
margin-right: 20px;
}
.social li a {
	padding: 5px 20px;
	color:black;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-family: arial,helvetica, sans-serif;
}

.Facebook {
	background-image: url(../_img/facebook.png);
}
.Twitter {
	background-image: url(../_img/twitter.png);
}
.Youtube {
	background-image: url(../_img/youtube.png);
}
.siguenos,
.compartir {
background: rgb(203,96,179); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(173,18,131,1) 50%, rgba(222,71,172,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,96,179,1)), color-stop(50%,rgba(173,18,131,1)), color-stop(100%,rgba(222,71,172,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
height: 100px;
width:500px;
margin: 0 auto;
color:white;
font-weight: bold;
font-size: 20px;
text-transform: uppercase;
text-align: center;
line-height: 100px;
cursor: pointer;
}
div#reproductor {
height: 400px;
}
#mensaje {
	width:400px;
	height:100px;
}
#mandar {
	height:30px;
	width:200px;
	background-color: #0084B4;
	color:#fff;
	border:none;
	cursor:pointer;
	display:block;
	clear:both;
	margin-top: 20px;
}
#autocompletado {
	height: 30px;
	width:400px;
	border-radius: 15px;
	border:none;
	background-color: #e1e1e1;
}
#contenidoModal {
	display: block;height: 300px;
}